body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 70px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto 3em;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background-color: #101318;
  color: white !important;
}

a {
  color: wheat;
}
