body {
  font-family: "M PLUS 1 Code", sans-serif;
  font-size: large;
  margin-left: 70px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto 3em;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background-color: #101318de;
  color: white !important;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -50px;
}

.nav-list {
  display: flex;
}

.nav-list li {
  font-size: 20px;
  display: flex;
  margin-right: 35px;
  justify-content: center;
  align-items: center;
}

.nav-list li a {
  text-decoration: underline;
}

.nav-list li.active {
  color: white;
}

.nav-list li a:hover {
  color: white;
}

#addbutton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  background-color: wheat;
  border: none;
  border-radius: 5px;
}

#addbutton a {
  font-family: "M PLUS 1 Code", sans-serif;
  color: black;
}

#addbutton a:hover {
  color: #101318de;
  font-weight: 1000;
}

h1 {
  margin-bottom: 40px;
}

a {
  color: wheat;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 7px;
}

section {
  margin-bottom: 50px;
}

footer a {
  margin: 10px;
}

form {
  max-width: 600px;
  margin: 30px auto;
}

.feedback-input {
  color: white;
  font-size: 18px;
  font-family: "M PLUS 1 Code", sans-serif;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

#contactformh2 {
  /* noch relativ angeben */
  margin-left: 120px;
}

textarea {
  height: 150px;
  line-height: 150%;
  font-family: "M PLUS 1 Code", sans-serif;
}

[type="submit"] {
  width: 45%;
  background: #101318de;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

[type="submit"]:hover {
  background: wheat;
  color: black;
}
