body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  font-size: large;
  margin-left: 70px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto 3em;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background-color: #101318de;
  color: white !important;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -50px;
}

.nav-list {
  display: flex;
}

.nav-list li {
  font-size: 20px;
  display: flex;
  margin-right: 35px;
  justify-content: center;
  align-items: center;
}

.nav-list li a {
  text-decoration: underline;
}

.nav-list li.active {
  color: white;
}

.nav-list li a:hover {
  color: white;
}

h1 {
  margin-bottom: 40px;
}

a {
  color: wheat;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 7px;
}

section {
  margin-bottom: 50px;
}

footer a {
  margin: 10px;
}
